.banner img {
    width: 100%;
    height: auto;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

hr {
    height: 3px;
    background-color: lightgray;
    border: none;
}

h2 {
    color: lightgray;
    font: 800;
}

container {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: left;
    align-items: center;
}

blockquote {
    font: 44px "DM Serif Display", serif;
    padding: 20px;
    color:#71797E;
    text-align: center; 
}

a {
  text-decoration: none;
}

img {
    max-width:100%;
    height: auto;
    display: block;
    border-style: none;
}

.iframe-container {
    border: 3px solid lightgray;
    width: 100%;
    padding: 10px;
}

#footer-content {
    background-image: linear-gradient(to right, black , gray);
    color: white;
    padding: 20px 0 20px 50px;
    height: 100px;
}

#footer-text {
    float: left;
}

#footer-icon-img {
    max-width:80px;
    height: auto;
    margin-bottom: 10px;
    float: right;
    display: block;
}

@media screen and (max-width: 563px) {
    #footer {
        padding: 20px 10px;
    }

}

