.banner img {
    width: 100%;
    height: auto;
}


h2 {
    color:lightgray;
}

hr.thick-line {
    height: 8px;
    background-color: lightgray;
    border: none;
}

#content {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: left;
    align-items: center;
}

blockquote {
    font: 44px strong Georgia, serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color:darkgray;
    margin-left: 50px;
    padding-left: 10px;
    border-left: 4px solid #ccc;
}

img {
    width: 900px;
    vertical-align: center;
    border-style: none;
}

.iframe-container {
    border: 1px solid #ccc;
    padding: 20px; 
    margin: 20px, 20px, 20px, 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}