.banner img {
    width: 100%;
    height: auto;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

hr {
    height: 3px;
    background-color: lightgray;
    border: none;
}

h2 {
    color: lightgray;
    font: 800;
}

#content {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: left;
    align-items: center;
}

blockquote {
    font: 44px "DM Serif Display", serif;
    padding: 20px;
    color:#71797E;
    text-align: center; 
}

a {
  text-decoration: none;
}

img {
    max-width:100%;
    height: auto;
    display: block;
    border-style: none;
}

.iframe-container {
    border: 3px solid lightgray;
    padding: 20px; 
}



