.banner img {
    width: 100%;
    height: auto;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

h2 {
    color:lightgray;
    font: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

hr {
    height: 3px;
    background-color: lightgray;
    border: none;
}

#content {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: left;
    align-items: center;
}

blockquote {
    font: 44px "DM Serif Display", serif;
    margin-top: 15px;
    margin-bottom: 15px;
    color:darkgray;
    justify-content: center;
}

a {
  text-decoration: none;
}

img {
    width: 900px;
    vertical-align: center;
    border-style: none;
}

.iframe-container {
    border: 1px solid #ccc;
    padding: 20px; 
    margin: 20px, 20px, 20px, 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}