.banner img {
    width: 100%;
    height: auto;
}

#headline {
    font: 16px strong Georgia, serif;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

#byline {
    font: 14px strong Georgia, serif;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

#content {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    justify-content: left;
    align-items: center;
}

blockquote {
    font: 44px strong Georgia, serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2a2a7b;
    margin-left: 50px;
    padding-left: 10px;
    border-left: 4px solid #ccc;
}

img {
    width: 900px;
    vertical-align: center;
    border-style: none;
}

#caption {
    line-break: strict;
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}