.banner img {
    width: 100%;
    height: auto;
}

h1 {
    font: 24px strong italic Georgia serif;
    color: lightgray;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    justify-content: center;
    align-content: center;
}

.light-gray-bar {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

caption {
    font: 10px strong Georgia, serif;
    line-height: 1.2;
    margin-top: 1;
}

#content {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: left;
    align-items: center;
}

blockquote {
    font: 44px strong Georgia, serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2a2a7b;
    margin-left: 50px;
    padding-left: 10px;
    border-left: 4px solid #ccc;
}

img {
    width: 900px;
    vertical-align: center;
    border-style: none;
}

iframe-container {
    border: 2px solid #ccc;
    padding: 10px;   
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}