/* styles for my resume */

/* body text */

body {
    font: Open Sans, Arial;
    font-size: 1em;
    color: #444;   
}

#name {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    align-items: center;
}

#title {
    font-size: 1.5em;
    color: #33485e;
    text-transform: uppercase;      
}