.banner img {
    width: 100%;
    height: auto;
}

#headline {
    font: 36px strong Georgia, serif;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

#byline {
    font-family: 18px Georgia, serif;
    line-height: 1.2;
    margin-top: 0;
}

h3{
    font: 18px strong Georgia, serif;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
}

#content {
    margin: 0 auto;
    max-width: 900px;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    justify-content: left;
    align-items: center;
}

subhead {
    font: 16px strong Georgia, serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 0;   
}

blockquote {
    font: 44px strong Georgia, serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #2a2a7b;
    margin-left: 50px;
    padding-left: 10px;
    border-left: 4px solid #ccc;
}

img {
    width: 900px;
    vertical-align: middle;
    border-style: none;
}

captions {
    font-size: 12px Georgia, serif;
    color: darkgrey;
}
